@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
        
        <head>
            <meta charset="utf-8">
            <title>Recruitment Agency - @title</title>
            <!-- Bootstrap Core CSS -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet" />
            <!-- Custom CSS -->
            <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" />
        </head>
        
        <body>
        
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Recruitment Agency</a>
                    </div>
        
                    <ul class="nav navbar-nav">
 
        
                        <li>
                            <a href="@routes.HomeController.about()">About Us</a>
                        </li>
                       
        
                        

                    </ul>
        
                </div>
        
            </nav>
        
            <container>
                <row>
                    <div class="col-md-12">
                        @content
                    </div>
                </row>
            </container>
        <br>
            <container>
                <footer>
                <row>
                    <div class="col-md-12">
                        
                        &copy;
                        <strong>Recruitment Agency</strong>
                    </div>
                </row>
            </footer>
            </container>
            <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
        </body>
        
        </html>
        